<nb-card>
    <nb-card-header>{{pageTitle}}</nb-card-header>
    <nb-card-body>
        <zy-kufang-form #kufangForm [entity]="entity">
        <!--<zy-new-page-button-->
            <zy-kufang-new
            [cancelButtonCaption]="cancelButtonCaption"
            (cancelButtonClick)="cancelCreate($event)"
            [saveButtonCaption]="saveButtonCaption"
            (saveButtonClick)="saveCreate($event)"
            [recoverButtonCaption]="recoverButtonCaption"
            (recoverButtonClick)="recoverCreate($event)">
        >
            </zy-kufang-new>
    <!--</zy-new-page-button>-->
</zy-kufang-form>

    </nb-card-body>
</nb-card>

