<nb-card>
    <nb-card-header>{{pageTitle}}</nb-card-header>
    <nb-card-body>
        <!--<zy-kufang-new [entity]="entity" (cancel)="cancelCreate($event)" (save)="saveCreate($event)">-->
        <!--</zy-kufang-new>-->



<zy-kufang-form #kufangForm [entity]="entity" >
    <zy-new-page-button
            [cancelButtonCaption]="cancelButtonCaption"
            (cancelButtonClick)="cancelCreate($event)"
            [saveButtonCaption]="saveButtonCaption"
            (saveButtonClick)="saveCreate($event)"
            [recoverButtonCaption]="recoverButtonCaption"
            (recoverButtonClick)="recoverCreate($event)">
        >
    </zy-new-page-button>

</zy-kufang-form>

    </nb-card-body>
</nb-card>

