
<nb-card>
    <nb-card-header>库房名称记录</nb-card-header>
    <nb-card-body>
<form>
        <!--<form class="form-horizontal" [formGroup]="formGroup"  (ngSubmit)="save()">-->
            <zy-kufang-detail></zy-kufang-detail>

            <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>取消</span>
            </button>

            <!--<button type="submit" id="save-entity" [disabled]="formGroup.invalid || isSaving"-->
                    <!--class="btn btn-primary">-->
                <!--<fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>保存</span>-->
            <!--</button>-->

        </form>
    </nb-card-body>
</nb-card>


<!--<form [formGroup]="formGroup" #formDir="ngForm">-->
<!--<div class="form-group">-->
<!--<label for="name">Name</label>-->
<!--<input id="name" class="form-control"-->
<!--formControlName="name" required>-->

<!--<div *ngIf="formGroup.get('name').invalid && (formGroup.get('name').dirty || formGroup.get('name').touched)"-->
<!--class="alert alert-danger">-->
<!--<div *ngIf="formGroup.get('name').errors.required">-->
<!--Name is required.-->
<!--</div>-->
<!--<div *ngIf="formGroup.get('name').errors.minlength">-->
<!--Name must be at least 4 characters long.-->
<!--</div>-->
<!--<div *ngIf="formGroup.get('name').errors.myCustomValidator">-->
<!--myCustomValidator myCustomValidator.-->
<!--</div>-->
<!--</div>-->

<!--<div *ngIf="formGroup.get('name').status === 'PENDING'">-->
<!--正在验证...-->
<!--</div>-->
<!--<div *ngIf="formGroup.get('name').invalid" class="alert alert-danger alter-ego-errors">-->
<!--&lt;!&ndash;dddddddd&ndash;&gt;-->
<!--<div *ngIf="formGroup.get('name').errors.kufangNameValidator">-->
<!--Alter ego is already taken.-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="bz">bz</label>-->
<!--<input id="bz" class="form-control" formControlName="bz">-->

<!--<div *ngIf="formGroup.get('bz').invalid && (formGroup.get('bz').dirty || formGroup.get('bz').touched)"-->
<!--class="alert alert-danger">-->
<!--<div *ngIf="formGroup.get('bz').errors.required">-->
<!--Name is required.-->
<!--</div>-->
<!--<div *ngIf="formGroup.get('bz').errors.minlength">-->
<!--Name must be at least 4 characters long.-->
<!--</div>-->
<!--</div>-->


<!--<div *ngIf="formGroup.get('bz').pending">Validating...</div>-->
<!--<div *ngIf="formGroup.get('bz').invalid" class="alert alert-danger alter-ego-errors">-->
<!--<div *ngIf="formGroup.get('bz').errors?.uniqueName">-->
<!--Alter ego is already taken.-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--<div>-->
<!--<button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">-->
<!--<fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>取消</span>-->
<!--</button>-->
<!--<button type="submit" id="save-entity" [disabled]="formGroup.invalid || isSaving"-->
<!--class="btn btn-primary">-->
<!--<fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>保存</span>-->
<!--</button>-->

<!--</div>-->
<!--</form>-->


