<div class="row justify-content-center">
  <div class="col-8">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="form">

      <div>
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">

          <label class="form-control-label" for="field_productName">{{form.get('name').label}}</label>
          <input type="text" class="form-control" name="productName" id="field_productName"
                 formControlName="name"
          [(ngModel)]="product.name" />

          <ul class="text-danger list-unstyled"
              *ngIf="(formSubmitted || form.get('name').dirty) && form.get('name').invalid">
            <li *ngFor="let error of form.get('name').getValidationMessages()">
              {{error}}
            </li>
          </ul>

        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_productGg">规格</label>
          <input type="text" class="form-control" name="productGg" id="field_productGg"
                 formControlName="gg"
                 [(ngModel)]="product.gg" />
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_productXh">型号</label>
          <input type="text" class="form-control" name="productXh" id="field_productXh"
                 formControlName="xh"
                 [(ngModel)]="product.xh" />
        </div>


      </div>
      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
          <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>取消</span>
        </button>
        <button type="submit" id="save-entity" [disabled]="form.invalid || isSaving" class="btn btn-primary">
          <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>保存</span>
        </button>


      </div>
    </form>
  </div>
</div>
