<div class="row" name="button">
    <div class="col-lg-6">
        <div class="pull-left">
            <button  type="button" nbButton >
                <fa-icon [icon]="'plus'"></fa-icon>&nbsp;<span>增加新记录</span>
            </button>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="pull-right">
            ddddd
        </div>
    </div>
</div>

<!--<div class="row" name="button">&ndash;&gt;-->
    <!--<div class="col-lg-6">-->
        <!--<div class="pull-left">-->
            <!--<button  type="button" nbButton (click)="create($event)">-->
                <!--<fa-icon [icon]="'plus'"></fa-icon>&nbsp;<span>增加新记录</span>-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-6">-->
        <!--<div class="pull-right">-->
            <!--ddddd-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->