<!--&lt;!&ndash;[class.left]="position === 'normal'"&ndash;&gt;-->
<!--&lt;!&ndash;[class.right]="position === 'inverse'"&ndash;&gt;-->

<!--<div class="header-container"-->
<!--&gt;-->
    <!--<div class="logo-containter">-->
        <!--&lt;!&ndash;<a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="logo" (click)="goToHome()">应用程序-<span>练习</span></div>&ndash;&gt;-->
        <!--<a routerLink="/about" class="btn btn-danger">Create account</a>-->
    <!--</div>-->

    <!--&lt;!&ndash;<ngx-theme-switcher></ngx-theme-switcher>&ndash;&gt;-->
<!--</div>-->

<!--&lt;!&ndash;<a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>&ndash;&gt;-->
