<!--[class.left]="position === 'normal'"-->
<!--[class.right]="position === 'inverse'"-->

<div class="header-container"
>
    <div class="logo-containter">
        <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
        <div class="logo" (click)="goToHome()">应用程序-<span>练习</span></div>
        <a routerLink="/login">會員登入</a>

    </div>

    <!--<ngx-theme-switcher></ngx-theme-switcher>-->
</div>

<!--<a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>-->
