<button type="button" class="btn btn-with-icon btn-secondary" (click)="onCancel()">
    <fa-icon [icon]="'undo-alt'"></fa-icon>&nbsp;<span>{{cancelButtonCaption}}</span>
</button>

<button type="button" class="btn btn-with-icon btn-success" (click)="onSave()">
    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>{{saveButtonCaption}}</span>
</button>

<button  type="button" class="btn btn-with-icon btn-warning" (click)="onRecover()">
    <fa-icon [icon]="'redo-alt'"></fa-icon>&nbsp;<span>{{recoverButtonCaption}}</span>
</button>
