<button type="button" id="cancel-save" class="btn btn-secondary" (click)="onCancel()">
    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>{{cancelButtonCaption}}</span>
</button>
<button type="submit" id="save-entity" [disabled]="formGroup.invalid || isSaving"
        class="btn btn-primary">
    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>{{saveButtonCaption}}</span>
</button>
<button type="button" id="recover" class="btn btn-secondary" (click)="onRecover()">
    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>{{recoverButtonCaption}}</span>
</button>

