<button type="button" class="btn btn-primary btn-with-icon" (click)="onZyList()">
    <fa-icon [icon]="'list'"></fa-icon>&nbsp;
    <span>{{toListButtonCaption}}</span>
</button>

<button type="button" class="btn btn-info btn-with-icon" (click)="onZyCreate()">
    <fa-icon [icon]="'file'"></fa-icon>&nbsp;
    <span>{{createButtonCaption}}</span>
</button>

<button type="button" class="btn btn-danger btn-with-icon" (click)="onZyDelete()">
    <fa-icon [icon]="'trash-alt'"></fa-icon>&nbsp;
    <span>{{deleteButtonCaption}}</span>
</button>

<ng-content></ng-content>

