<button type="button" nbButton class="btn btn-primary" (click)="onZyList()">
    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>{{toListButtonCaption}}</span>
</button>
<button type="button" nbButton class="btn btn-secondary" (click)="onZyCreate()">
    <fa-icon [icon]="'plus'"></fa-icon>&nbsp;<span>{{createButtonCaption}}</span>
</button>
<button type="button" nbButton class="btn btn-secondary" (click)="onZyDelete()">
    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>{{deleteButtonCaption}}</span>
</button>
<ng-content></ng-content>
