<!--&lt;!&ndash;简单布局&ndash;&gt;-->

<!--<nb-layout  windowMode>-->
    <!--<nb-layout-header fixed>-->
        <!--<ng-content select="zy-header"></ng-content>-->
    <!--</nb-layout-header>-->

    <!--<nb-sidebar class="menu-sidebar"-->
                <!--tag="menu-sidebar"-->
                <!--responsive-->
                <!--&gt;-->
        <!--<ng-content select="nb-menu"></ng-content>-->
    <!--</nb-sidebar>-->

    <!--<nb-layout-column class="main-content">-->
        <!--<ng-content select="router-outlet"></ng-content>-->
    <!--</nb-layout-column>-->


    <!--<nb-layout-footer fixed>-->
        <!--<ng-content select="zy-footer"></ng-content>-->
    <!--</nb-layout-footer>-->

<!--</nb-layout>-->