
<form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="onSave()">

    <dynamic-ng-bootstrap-form [group]="formGroup"
                               [model]="_formModel"
                               [layout]="formLayout"

    >

    </dynamic-ng-bootstrap-form>

    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="onCancel()">
        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>取消</span>
    </button>
    <button type="submit" id="save-entity" [disabled]="formGroup.invalid || isSaving"
            class="btn btn-primary">
        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>保存</span>
    </button>

</form>



<!--<nb-card>-->
    <!--<nb-card-header>库房名称记录</nb-card-header>-->
    <!--<nb-card-body>-->

        <!--<form class="form-horizontal" [formGroup]="formGroup"  (ngSubmit)="save()">-->

            <!--<dynamic-ng-bootstrap-form [group]="formGroup"-->
                                       <!--[model]="_formModel"-->
                                       <!--[layout]="formLayout"-->

            <!--&gt;-->

            <!--</dynamic-ng-bootstrap-form>-->

            <!--<button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">-->
                <!--<fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>取消</span>-->
            <!--</button>-->
            <!--<button type="submit" id="save-kufang" [disabled]="formGroup.invalid || isSaving"-->
                    <!--class="btn btn-primary">-->
                <!--<fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>保存</span>-->
            <!--</button>-->

        <!--</form>-->
    <!--</nb-card-body>-->
<!--</nb-card>-->


<!--&lt;!&ndash;<form [formGroup]="formGroup" #formDir="ngForm">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
        <!--&lt;!&ndash;<label for="name">Name</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<input id="name" class="form-control"&ndash;&gt;-->
               <!--&lt;!&ndash;formControlName="name" required>&ndash;&gt;-->

        <!--&lt;!&ndash;<div *ngIf="formGroup.get('name').invalid && (formGroup.get('name').dirty || formGroup.get('name').touched)"&ndash;&gt;-->
             <!--&lt;!&ndash;class="alert alert-danger">&ndash;&gt;-->
            <!--&lt;!&ndash;<div *ngIf="formGroup.get('name').errors.required">&ndash;&gt;-->
                <!--&lt;!&ndash;Name is required.&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div *ngIf="formGroup.get('name').errors.minlength">&ndash;&gt;-->
                <!--&lt;!&ndash;Name must be at least 4 characters long.&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div *ngIf="formGroup.get('name').errors.myCustomValidator">&ndash;&gt;-->
                <!--&lt;!&ndash;myCustomValidator myCustomValidator.&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--&lt;!&ndash;<div *ngIf="formGroup.get('name').status === 'PENDING'">&ndash;&gt;-->
            <!--&lt;!&ndash;正在验证...&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div *ngIf="formGroup.get('name').invalid" class="alert alert-danger alter-ego-errors">&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;dddddddd&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<div *ngIf="formGroup.get('name').errors.kufangNameValidator">&ndash;&gt;-->
                <!--&lt;!&ndash;Alter ego is already taken.&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
        <!--&lt;!&ndash;<label for="bz">bz</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<input id="bz" class="form-control" formControlName="bz">&ndash;&gt;-->

        <!--&lt;!&ndash;<div *ngIf="formGroup.get('bz').invalid && (formGroup.get('bz').dirty || formGroup.get('bz').touched)"&ndash;&gt;-->
             <!--&lt;!&ndash;class="alert alert-danger">&ndash;&gt;-->
            <!--&lt;!&ndash;<div *ngIf="formGroup.get('bz').errors.required">&ndash;&gt;-->
                <!--&lt;!&ndash;Name is required.&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div *ngIf="formGroup.get('bz').errors.minlength">&ndash;&gt;-->
                <!--&lt;!&ndash;Name must be at least 4 characters long.&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->


        <!--&lt;!&ndash;<div *ngIf="formGroup.get('bz').pending">Validating...</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div *ngIf="formGroup.get('bz').invalid" class="alert alert-danger alter-ego-errors">&ndash;&gt;-->
            <!--&lt;!&ndash;<div *ngIf="formGroup.get('bz').errors?.uniqueName">&ndash;&gt;-->
                <!--&lt;!&ndash;Alter ego is already taken.&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">&ndash;&gt;-->
        <!--&lt;!&ndash;<fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>取消</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="submit" id="save-kufang" [disabled]="formGroup.invalid || isSaving"&ndash;&gt;-->
        <!--&lt;!&ndash;class="btn btn-primary">&ndash;&gt;-->
        <!--&lt;!&ndash;<fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>保存</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->


