
<div class="form-group">
    <label for="exampleInputName">库房名称</label>
    <input type="text" class="form-control" id="exampleInputName"
           [ngModel]="name" name="name">
</div>

<div class="form-group">
    <label for="exampleInputBz">备注</label>
    <textarea class="form-control" id="exampleInputBz"
              [ngModel]="bz" name="bz">
     </textarea>
</div>

<!--<button type="button" id="cancel-save" class="btn btn-secondary" (click)="onList()">-->
    <!--<fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>返回库房列表</span>-->
<!--</button>-->

<!--<button type="button" id="cancel-save" class="btn btn-secondary" (click)="onDelete()">-->
    <!--<fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>删除</span>-->
<!--</button>-->


<!--<zy-form [title]="pageTitle">-->
<!--<div name="form">-->
<!--<form>-->

<!--<button type="button" class="btn btn-primary" (click)="previousState()">-->
<!--<fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span>返回</span>-->
<!--</button>-->

<!--<button type="button" class="btn btn-danger">-->
<!--<fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>删除</span>-->
<!--</button>-->

<!--<button type="button" class="btn btn-warning" [routerLink]="['/product', kufang.id, 'edit']">-->
<!--<fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span>修改</span>-->
<!--</button>-->

<!--</form>-->

<!--</div>-->
<!--</zy-form>-->
