<zy-form [title]="pageTitle">
    <div name="form">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">库房名称</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email"
                       [ngModel]="kufang.name" name="name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">备注</label>
                <textarea class="form-control" id="exampleInputPassword1" placeholder="Message"></textarea>
            </div>

            <button type="button" class="btn btn-primary" (click)="previousState()">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span>返回</span>
            </button>

            <button type="button" class="btn btn-danger">
                <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>删除</span>
            </button>

            <button type="button" class="btn btn-warning" [routerLink]="['/product', kufang.id, 'edit']">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span>修改</span>
            </button>

        </form>

    </div>
</zy-form>
