<nb-card>
    <nb-card-header>
        库房名称记录
    </nb-card-header>

    <nb-card-body>
        <nb-layout>
            <nb-layout-column>
                <!--<div class="row">-->
                    <!--<div class="col-sm-12">-->
                        <!--<label class="dt-cust-search f-right">-->
                            <!--<div class="form-group">-->
                                <!--<label>Search: </label>-->
                                <!--<input type='text'-->
                                       <!--class="form-control input-sm m-l-10"-->
                                       <!--placeholder='Search Name'-->
                                       <!--(keyup)='search($event)'-->
                                <!--/>-->
                            <!--</div>-->
                        <!--</label>-->
                    <!--</div>-->
                <!--</div>-->

                <ngx-datatable
                        class="material"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [columnMode]="'force'"
                        [reorderable]=true
                        [rows]="rows$ "
                        [limit]="10"
                >
                    <ngx-datatable-column name="操作" prop="id">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <a routerLink="/kufang/{{value}}/view">查看</a>
                            <!--<td><a [routerLink]="['/kufang', {{value}}, 'view' ]">{{product.id}}</a></td>-->

                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="序号" prop="id">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="标识" prop="identifier">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="库房名称" prop="name">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>

            </nb-layout-column>
        </nb-layout>
    </nb-card-body>
</nb-card>



