<nb-card>
    <nb-card-header>
        库房名称记录
    </nb-card-header>

    <nb-card-body>
        <nb-layout>
            <!--<nb-layout-header >-->
            <!--&lt;!&ndash;<nb-search #search type="rotate-layout placeholder="Search..." (keydown.enter)="onSearch(search.value)""></nb-search>&ndash;&gt;-->
            <!--</nb-layout-header>-->
            <nb-layout-column>
                <!--<ngx-datatable #dataTable class="material striped" [messages]="localizationMessage" [rows]="rows"-->
                               <!--[columnMode]="'force'"-->
                               <!--[headerHeight]="40" [rowHeight]="40" [footerHeight]="40" [externalPaging]="true"-->
                               <!--[count]="pagination.totalResults" [offset]="pagination.currentPage"-->
                               <!--[limit]="pagination.pageSize" [scrollbarH]="true" [selected]="selectedRows"-->
                               <!--[selectionType]="'single'" (activate)="onActivate($event)"-->
                               <!--(page)='setPage($event)' [rowIdentity]="getRowIdentity" [reorderable]="true">-->
                    <!--<ngx-datatable-column name="序号" prop="id" [width]="60"></ngx-datatable-column>-->
                    <!--<ngx-datatable-column name="标识" prop="identifier"></ngx-datatable-column>-->
                    <!--<ngx-datatable-column name="库房名称" prop="name"></ngx-datatable-column>-->

                <!--</ngx-datatable>-->
                <div class="row">
                    <div class="col-sm-12">
                        <label class="dt-cust-search f-right">
                            <div class="form-group">
                                <label>Search: </label>
                                <input
                                        type='text'
                                        class="form-control input-sm m-l-10"
                                        placeholder='Search Name'
                                        (keyup)='search($event)'
                                />
                            </div>
                        </label>
                    </div>
                </div>

                <ngx-datatable
                        class="material"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [columnMode]="'force'"
                        [reorderable]=true
                        [rows]="rows"
                        [limit]="10"
                >
                    <ngx-datatable-column name="序号" prop="id" >
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="标识" prop="identifier" >
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="库房名称" prop="name">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>

            </nb-layout-column>
        </nb-layout>
    </nb-card-body>
</nb-card>



