<div>
    <nb-card>
        <nb-card-header>增加-库房名称记录</nb-card-header>
        <nb-card-body>
            <!--<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="form">-->
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">库房名称</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="库房名称">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">备注</label>
                    <textarea class="form-control" id="exampleInputPassword1" placeholder="库房存储说明"></textarea>
                </div>
                <button type="submit" class="btn btn-danger">Submit</button>
            </form>

        </nb-card-body>
    </nb-card>
</div>